@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  font-size: 20px;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
